<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting label="20000" type="labelenum" values="0|3|9|12|24" id="cache" default="24"/>
    <setting label="20001" type="bool" id="DEBUG" default="false"/>
    <setting id="username" type="text" label="20002" default="" />
    <setting id="user_password" type="text" option="hidden" label="20003" enable="!eq(-1,)" default="" />
	<setting id="domain" type="text" label="20004" default="http://www.sdarot.pm" />
	<setting label="20015" type="bool" id="RETRY" default="false"/>
	<setting label="20016" type="labelenum" values="1|2|3|4|5|6|7|8|9|10|11|12|13|14|15" id="retry_amount" default="5" enable="!eq(-1,false)"/>
	<setting label="20017" type="labelenum" values="5|6|7|8|9|10" id="retry_timer" default="5" enable="!eq(-2,false)"/>
</settings>
